body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:-30px;
  width:380px;
  height:744px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:76px;
  top:107px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:450px;
  width:320px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:190px;
  width:200px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:84px;
  top:268px;
  width:305px;
  height:97px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:98px;
  top:0px;
  width:105px;
  height:32px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:203px;
  top:0px;
  width:97px;
  height:32px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:32px;
  width:98px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:98px;
  top:32px;
  width:105px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:203px;
  top:32px;
  width:97px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:62px;
  width:98px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:98px;
  top:62px;
  width:105px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:203px;
  top:62px;
  width:97px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:184px;
  top:380px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
