body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:-30px;
  width:380px;
  height:744px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:76px;
  top:107px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:450px;
  width:320px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:148px;
  top:140px;
  width:170px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:73px;
  top:216px;
  width:319px;
  height:129px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:78px;
  top:0px;
  width:78px;
  height:34px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:156px;
  top:0px;
  width:78px;
  height:34px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:234px;
  top:0px;
  width:80px;
  height:34px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:34px;
  width:78px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:78px;
  top:34px;
  width:78px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:156px;
  top:34px;
  width:78px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:234px;
  top:34px;
  width:80px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:64px;
  width:78px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:78px;
  top:64px;
  width:78px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:156px;
  top:64px;
  width:78px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:234px;
  top:64px;
  width:80px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:94px;
  width:78px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:78px;
  top:94px;
  width:78px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:156px;
  top:94px;
  width:78px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:234px;
  top:94px;
  width:80px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:180px;
  top:375px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
